block variables

include ../components/_components.pug

doctype html
html(lang=page.lang||"en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title=page.title||"New Page"

    link(rel="stylesheet" type="text/css" href="./assets/styles/styles.min.css")
    script(src="./assets/scripts/main.min.js" defer)

  body(class=page.class||"")
    block header
      include ../modules/_header

    block content

    block footer
      include ../modules/_footer
