@mixin font-face($font-family, $name, $weight, $style: normal) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../fonts/#{$name}.woff") format("woff"),
      url("../fonts/#{$name}.woff2") format("woff2");
    font-style: $style;
    font-weight: #{$weight};
    font-display: swap;
  }
}
