mixin loader
  .overlay.js-overlay
    .overlay-data
      p.overlay-data__text.js-overlay-text
        | Hold on a second, we are submitting your data : )
      .overlay-data__loader.js-overlay-loader
        .div
        .div
        .div
        .div
